<% game.comments.each do |comment| %>
	<tr id="admin-comment-<%= comment.id %>">
		<td>
			<%= attachment_image_tag comment.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %><br>
			<%= comment.user.name %>
		</td>
		<td><%= comment.comment %></td>
		<td><%= comment.difficulty %>/100</td>
		<td><%= comment.rating %>/10</td>
		<td><%= link_to "Destroy", admins_game_comments_path(comment), method: :delete, remote: true, class:"btn-sm btn-danger" %></td>
	</tr>
<% end %>