<% if flash[:notice] %>
	<div class="row flash">
		<%= flash[:notice] %>
	</div>
<% end %>


<h2>ルーム編集</h2>
<%= form_for(@room, url:admins_chat_path(@room), method: :patch) do |f| %>
	<%= f.label :name, "ルーム名" %>
	<%= f.text_field :name %>

	<%= f.label :introduction, "内容" %>
	<%= f.text_field :introduction %>

	<%= f.submit "変更する" %>
<% end %>

<%= link_to "ルーム削除",admins_chat_path(@room), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>