<% if flash[:notice] %>
	<div class="alert alert-success alert-dismissible" role="alert">
	 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<%= flash[:notice] %>
	</div>
<% end %>

<h2>ルーム一覧</h2>
<table class="table">
	<tr class="thead-light">
		<th style="width: 20%;">作成者</th>
		<th style="width: 20%;">ルーム名</th>
		<th style="width: 60%;">内容</th>
	</tr>
	<% @rooms.each do |room| %>
		<tr>
			<td><%= room.user.name %></td>
			<td>
				<%= link_to talk_room_admins_chats_path(room) do %>
					<%= room.name %>
				<% end %>
			</td>
			<td><%= room.introduction[0..100] %></td>
		</tr>
	<% end %>
</table>