<% if params[:category] == "user" %>
	<h2>'<%= params[:search] %>'の検索結果</h2>
	<table class="table">
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
		</tr>
		<% @searches.each do |search| %>
			<tr>
				<td>
					<%= link_to user_path(search) do %>
						<%= attachment_image_tag search, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
					<% end %>
				</td>
				<td><%= search.name %></td>
				<td><%= link_to "Show", user_path(search) %></td>
			</tr>
		<% end %>
	</table>

<% elsif params[:category] == "game" %>
	<h2>'<%= params[:search] %>'の検索結果</h2>
	<table class="table">
		<tr>
			<th>image</th>
			<th>title</th>
			<th></th>
		</tr>
		<% @searches.each do |search| %>
			<% screenshot = search.screenshots.find_by(game_id: search.id) %>
			<tr>
				<td>
					<%= link_to game_path(search) do %>
						<%= attachment_image_tag screenshot, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
					<% end %>
				</td>
				<td><%= search.title %></td>
				<td><%= link_to "Show", game_path(search) %></td>
			</tr>
		<% end %>
	</table>

<% elsif params[:tag].present? %>
	<h2>'<%= params[:tag] %>'の検索結果</h2>
	<table class="table">
		<tr>
			<th>image</th>
			<th>title</th>
			<th></th>
		</tr>
		<% @searches.each do |search| %>
			<% screenshot = search.screenshots.find_by(game_id: search.id) %>
			<tr>
				<td>
					<%= link_to game_path(search) do %>
						<%= attachment_image_tag screenshot, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
					<% end %>
				</td>
				<td><%= search.title %></td>
				<td><%= link_to "Show", game_path(search) %></td>
			</tr>
		<% end %>
	</table>
<% end %>