<div class="row">
  <h1 class="offset-2">ログイン</h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row field">
    <div class="offset-2">
      <%= f.label :email, "メールアドレス" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "80" %>
    </div>
  </div>

  <div class="row field">
    <div class="offset-2">
      <%= f.label :password, "パスワード" %><br/>
      <%= f.password_field :password, autocomplete: "current-password", size: "80" %>
    </div>
  </div>

  <div class="row actions" style= "margin-top: 40px;">
    <%= f.submit "ログイン", class:"col-2 offset-5 btn btn-primary" %>
  </div>
<% end %>

