<% if flash[:danger] %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>エラー！</strong> <%= flash[:danger] %>
	</div>
<% end %>

<div class="row">
	<h4>パスワード変更</h4>
</div>

<%= form_for(@user, url:update_password_user_path(@user),method: :patch) do |f| %>
	<div class="row mt-4">
		<%= f.label :old_password, "現在のパスワード" %><br>
		<%= f.password_field :old_password, class:"form-control", size:"90x4" %>
	</div>

	<div class="row mt-2">
		<%= f.label :new_password, "新しいパスワード" %><br>
		<%= f.password_field :new_password, class:"form-control", size:"90x4" %>
	</div>

	<div class="row mt-2">
		<%= f.label :new_password_confirm, "新しいパスワード再入力" %><br>
		<%= f.password_field :new_password_confirm, class:"form-control", size:"90x4" %>
	</div>


	<%= f.submit "変更を保存", class:"offset-4 col-4 btn btn-primary mt-3"  %>

<% end %>