<% if flash[:danger] %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>エラー！</strong> <%= flash[:danger] %>
	</div>
<% end %>

<div class="row">
	<h4 class="col-2">ユーザー編集</h4>
	<%= button_to "データを残して退会", status_change_user_path(@user), {method: :patch, params: {status: "false"}, class:"btn btn-warning", style:"white-space: normal;", "data-confirm" => "今まで投稿したゲームやコメントは消えずに残ります。本当に退会しますか？"} %>

	<%= link_to "全データを削除して退会", user_path(@user), method: :delete, "data-confirm" => "今まで投稿したゲームやコメントが全て消えます。本当に退会しますか？", class:"btn btn-danger col-3 offset-1", style: "white-space: normal;" %>
</div>

<div class="user-edit-box">
	<%= form_for(@user, url:user_path(@user),method: :patch) do |f| %>
		<div class="row">
			<div class="col-3">
				<% if @user.image != nil %>
					<%= attachment_image_tag @user, :image,:fill, 200, 200, format: 'jpeg', class: "image_prev", size:'200x200' %>
				<% else %>
					<%= image_tag "NoImage.jpg", alt:"Image preview", class: "image_prev", size: "200x200" %>
				<% end %>
				<%= f.label :image, "画像を変更", class: "btn btn-info offset-2 mt-2" %>
				<%= f.attachment_field :image, style:"display: none;", class: "image" %>
			</div>

			<div class="col-8 offset-1">
				<div class="row">
					<%= f.label :name, "ユーザー名" %>（<span class="required">※必須</span>）(2文字以上、20文字以下)<br>
				</div>
				<div class="row">
					<%= f.text_field :name, class:"form-control", size:"90x1" %>
				</div>

				<div class="row mt-4">
					<%= f.label :introduction, "ひとこと" %>(150文字以下)<br>
					<%= f.text_area :introduction, class:"form-control", size:"90x4" %>
				</div>

				<%= f.submit "変更を保存", class:"offset-4 col-4 btn btn-primary mt-3"  %>
			</div>
		</div>
	<% end %>
</div>

<script>
	$(".image").change(function(e) {
		//ファイルオブジェクトを取得する
	    var file = e.target.files[0];
	    var reader = new FileReader();

		if (file) {
			reader.readAsDataURL(file);
		}

		//アップロードした画像を設定する
	    reader.onload = (function(file){
	      return function(e){
	        $(".image_prev").attr("src", e.target.result);
	        $(".image_prev").attr("title", file.name);
	      };
	    })(file);
	    reader.readAsDataURL(file);
	});

</script>