<h2>Follower Users</h2>
<table class="table">
	<tr>
		<th>image</th>
		<th>name</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @user.follower_user.each do |user| %>
		<tr>
			<td>
				<%= link_to user_path(user.id) do %>
					<%= attachment_image_tag user, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
				<% end %>
			</td>
			<td><%= user.name %></td>
			<td>
				フォロー数：<%= user.active_relationships.count %>
			</td>
			<td>
				フォロワー数：<%= user.passive_relationships.count %>
			</td>
			<td>
				<% if current_user.following?(user) %>
					<%= link_to 'フォロー外す', user_relationships_path(user.id), method: :delete %>
				<% else %>
					<%= link_to 'フォローする', user_relationships_path(user.id), method: :POST %>
				<% end %>
			</td>
			<td><%= link_to "Show", user_path(user) %></td>
		</tr>
	<% end %>
</table>
