<% if flash[:notice] %>
	<div class="alert alert-success alert-dismissible" role="alert">
	 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<%= flash[:notice] %>
	</div>
<% end %>

<div class="row">
	<h2 class="col-6"><%= @user.name %></h2>
	<% if @user.status == true %>
		<p class="col-1 user-validity">有効</p>
	<% else %>
		<p class="col-2 offset-1 user-invalid">退会済み</p>
	<% end %>
</div>

<div class="row">
	<div class="col-3">
		<%= attachment_image_tag @user, :image,:fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'200x200' %>
		<div class="row mt-3">
			<h5 class="col-8">フォロー数：</h5>
			<%= link_to follow_admins_user_path(@user), class:"col-4" do %>
				<%= @user.active_relationships.count %>
			<% end %>
		</div>
		<div class="row mt-1">
			<h5 class="col-8">フォロワー数：</h5>
			<%= link_to follower_admins_user_path(@user), class:"col-4" do %>
				<%= @user.passive_relationships.count %>
			<% end %>
		</div>
		<%= link_to "編集する", edit_admins_user_path(@user), class:"col-10 btn btn-info mt-3" %>
	</div>

	<div class="col-8 offset-1">
		<h4>ひとこと</h4>
		<div class="user-introduction">
			<%= @user.introduction %>
		</div>
	</div>
</div>

<div class="row mt-5">
	<h3 class="col-12"><u>ゲーム一覧</u></h3>
	<div class="row">
		<% @user.games.first(4).each do |game| %>
			<div class="col-2 offset-1">
				<%= link_to admins_game_path(game) do %>
					<% screenshot = game.screenshots.find_by(game_id: game.id) %>
			 		<%= attachment_image_tag screenshot, :image,:fill, 200, 200, format: 'jpeg', fallback: "NoImage.jpg", size:"200x200" %>
			 		<br><%= game.title %>
			 	<% end %>
		 	</div>
		<% end %>
	</div>
</div>
<%= link_to "もっと見る", admins_games_path(place: "user", user_id: @user.id), class:"float-right" %>


