<div class="row">
  <% if chat.admin.nil? %>
    <!-- 自分の投稿の場合 -->
    <% if chat.user_id == current_user.id %>
      <div class="col-2">
        <%= attachment_image_tag chat.user, :image,:fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %>
        <p style="color: green"><%= chat.user.name %></p>
      </div>

      <div class="col-8">
        <p style="color: green"><%= chat.message %></p>
        <%= chat.created_at.strftime("%Y/%m/%d %H:%M") %>
      </div>

      <%= link_to "削除", chat_chat_destroy_path(chat), class:"col-1 btn btn-danger", style:"height: 40px;", method: :delete, "data-confirm" => "本当に削除しますか？" %>

    <!-- 他の人の投稿の場合 -->
    <% elsif chat.user_id.present? %>       <!-- chat.user_id != current_user.id だと管理者の場合でも引っかかってしまう。管理者のuser_id = nilのため -->
      <div class="col-2">
        <%= attachment_image_tag chat.user, :image,:fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'60x60' %>
        <p><%= chat.user.name %></p>
      </div>

      <div class="col-8">
        <p><%= chat.message %></p>
        <%= chat.created_at.strftime("%Y/%m/%d %H:%M") %>
      </div>
    <% end %>

  　<!-- 管理者の投稿の場合 -->
  <% else %>
    <div class="col-2">
      <%= image_tag 'admin.jpg', size: '60x60' %>
      <p style="color: red">Suave管理者</p>
    </div>

    <div class="col-8">
      <p style="color: red;"><%= chat.message %></p>
      <%= chat.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
  <% end %>

</div>