<div class="row">
  <% if chat.user_id == current_user.id %>
    <div class="col-xs-4">
      <%= attachment_image_tag chat.user, :image,:fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
      <p style="color: green"><%= chat.user.name %></p>
    </div>
    <p class="col-xs-8"><%= chat.message %></p>
  <% else %>
    <div class="col-xs-4">
      <%= attachment_image_tag chat.user, :image,:fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
      <p><%= chat.user.name %></p>
    </div>
    <p class="col-xs-8"><%= chat.message %></p>
  <% end %>
</div>