<% if flash[:notice] %>
	<div class="row flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if @room.errors.any? %>
	<h2><%= @room.errors.count %>
		 errors prohibited this obj from being saved:
	</h2>
	<ul>
		<% @room.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<h2>ルーム作成</h2>
<%= form_for(@room) do |f| %>
	<%= f.label :name, "ルーム名" %>
	<%= f.text_field :name %>

	<%= f.label :introduction, "内容" %>
	<%= f.text_field :introduction %>

	<%= f.submit "作成" %>
<% end %>

<h2>ルーム一覧</h2>
<table class="table">
	<tr class="active">
		<th>作成者</th>
		<th>ルーム名</th>
		<th>内容</th>
	</tr>
	<% @rooms.each do |room| %>
		<% if room.name != nil %>
			<tr>
				<td><%= room.user.name %></td>
				<td><%= room.name %></td>
				<td><%= room.introduction %></td>
			</tr>
		<% end %>
	<% end %>
</table>