<h1 class="room" data-room="<%= @room.id %>" data-user="user" data-id="<%= current_user.id %>">
	<%= @user.name %> さんとのチャット
</h1>

<div class="message overflow-auto mt-3 mx-auto scroll" style="width: 90%; height: 400px;">
	<% @chats.each do |chat| %>
		<%= render 'chats/message', chat: chat %>
	<% end %>
</div>

<div class="row mt-3">
	<%= attachment_image_tag current_user, :image,:fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", class:"col-1" %>
	<textarea type="text" placeholder="control + Enterで送信" class="post col-9 mt-2"></textarea>
	<input type="submit" class="btn btn-primary col-1 ml-2 mt-2 chat-submit">
</div>

<!-- ページを開いたときに一番下（最新）のチャットが表示されるように設定 -->
<script>
  var target = document.getElementsByClassName('scroll');
  target[0].scrollTop = target[0].scrollHeight;
</script>