<% screenshot = game.screenshots.find_by(game_id: game.id) %>

<div class="row game-box">
	<%= link_to game_path(game) do %>
		<div class="col-3">
			<%= attachment_image_tag screenshot, :image,:fill, 1920, 1080, format: 'jpeg', fallback:"NoImage.jpg" ,size:"200x112" %>
		</div>
	<% end %>

	<div class="col-9">
		<div class="row mt-1">
			<%= link_to game_path(game), style:"color: white;" do %>
				<h4><%= game.title %></h4>
			<% end %>
		</div>
		<div class="row">
			<% if game.tag_list.present? %>
				<% game.tag_list.first(6).each do |tag| %>
					<%= link_to search_path(tag: tag), class:"btn btn-primary mt-2" do %>
						<%= tag %>
					<% end %>
				<% end %>
			<% else %>
				<h6>タグが設定されていません</h6>
			<% end %>
		</div>
	</div>
	
</div>

