<div id="new-game" class="game">
	<% desc_games.each do |desc_game| %>
		<%= render 'game', game: desc_game %>
	<% end %>
	<%= paginate desc_games, param_name: "new_game", remote: true, class: "paginate" %>
</div>

<div id="favorite-game" class="game">
	<% favorite_games.each do |favorite_game| %>
		<%= render 'game', game: favorite_game %>
	<% end %>
	<%= paginate favorite_games, param_name: "favoite_game", remote: true, class: "paginate" %>
</div>

<div id="difficult-game" class="game">
	<% difficult_games.each do |difficult_game| %>
		<%= render 'game', game: difficult_game %>
	<% end %>
	<%= paginate difficult_games, param_name: "difficult_game", remote: true, class: "paginate" %>
</div>

<div id="easy-game" class="game">
	<% easy_games.each do |easy_game| %>
		<%= render 'game', game: easy_game %>
	<% end %>
	<%= paginate easy_games, param_name: "easy_game", remote: true, class: "paginate" %>
</div>

<script>
	$('#game-contents .game[id != "new-game"]').hide();
 
	$('#game-menu a').on('click', function() {
	  $("#game-contents .game").hide();
	  $("#game-menu .active").removeClass("active");
	  $(this).addClass("active");
	  $($(this).attr("href")).show();
	  return false;
	});
</script>