<h2>ゲーム投稿ページ</h2>

<% if @game.errors.any? %>
	<h2><%= @game.errors.count %>
		 errors prohibited this obj from being saved:
	</h2>
	<ul>
		<% @game.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for(@game) do |f| %>
	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<%= f.label :title, "タイトル", class:"col-xs-2" %>
				<%= f.text_field :title, class:"col-xs-4" %>
			</div>

			<div class="row">
				<%= f.label :introduction, "説明文", class:"col-xs-2" %>
				<%= f.text_area :introduction, class:"col-xs-4" %>
			</div>

			<div class="row">
				<%= f.label :url, "ダウンロードURL", class:"col-xs-2" %>
				<%= f.text_area :url, class:"col-xs-4" %>
			</div>

				<%= f.label :tag_list, 'タグをカンマ区切りで入力' %>
				<%= text_field_tag 'game[tag_list]', @game.tag_list, data: {role: "tagsinput"} %>
		</div>

		<div class="col-xs-4 col-xs-offset-1">
			<%= f.fields_for :screenshots do |i| %>
				<%= i.label :image, "スクリーンショット（複数選択可能）" %><br>
	    		<%= i.attachment_field :image, multiple: true, name: "screenshots_attributes[0][image][]" %>
	    	<% end %>
    	</div>


			<div class="row">
				<%= f.submit "アップロード", class:"col-xs-3 col-xs-offset-4 btn btn-primary" %>
			</div>

		</div>
	</div>
<% end %>