<% if flash[:danger] %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>エラー！</strong> <%= flash[:danger] %>
	</div>
<% end %>

<div class="row">
	<h2>ゲーム投稿</h2>
</div>

<%= form_for(@game) do |f| %>
	<h3 class="mt-4"><u>スクリーンショット選択</u></h3>
	<div class="row">
		<%= f.nested_fields_for :screenshots, wrapper_tag: :div do |i| %>
			<div class="col-3 mt-3">
				<%= image_tag "NoImage.jpg", alt:"Screenshot preview", class: "center-block image_prev", size: "250x140" %><br>
			</div>

        	<%= i.label :image, "画像を変更", class:"btn btn-info mt-2" %>
			<%= i.attachment_field :image, onchange: "previewFile(this)", style:"display: none;" %>
			<%= i.remove_nested_fields_link "削除", class: "btn btn-danger" %>
    	<% end %>
    </div>
	<div class="row">
		<%= f.add_nested_fields_link :screenshots, '画像を追加する', class: "btn btn-primary", style:"margin-top: 40px;"%>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="field">
				<%= f.label :file, "ゲーム選択" %>（<span class="required">※必須</span>）<br>
				<%= f.file_field :file %>
			</div>

			<div class="row field">
				<%= f.label :title, "タイトル" %>（<span class="required">※必須、30字以内</span>）<br>
				<%= f.text_field :title, class:"form-control", size:"140x1" %>
			</div>

			<div class="row field">
				<%= f.label :tag_list, 'タグをカンマ区切りで入力' %><br>
				<%= text_field_tag 'game[tag_list]', @game.tag_list.join(","), data: {role: "tagsinput"}, class:"form-control" %>
			</div>
		</div>
    </div>

    <div class="field">
		<%= f.label :introduction, "ゲームについて" %>（<span class="required">※必須</span>）<br>
		<%= f.text_area :introduction, data: { provider: 'summernote'} %>
	</div>


	<div class="row" style="margin-top: 40px;">
		<%= f.submit "アップロード", class:"col-4 offset-4 btn btn-primary" %>
	</div>

<% end %>

<script>
	//Summernoteの設定
	$(function () {
	    $('[data-provider="summernote"]').each(function(){
	    	$(this).summernote({
	    		lang: 'ja-JP',
	        	height: 400,
	        	fontNames: ["YuGothic","Yu Gothic","Hiragino Kaku Gothic Pro","Meiryo","sans-serif", "Arial","Arial Black","Comic Sans MS","Courier New","Helvetica Neue","Helvetica","Impact","Lucida Grande","Tahoma","Times New Roman","Verdana"],
    			lang: "ja-JP",
	        	toolbar: [
	        		['fontsize', ['fontsize']],
	        		['fontname', ['fontname']],
	          		['style', ['style']],
			        ['font', ['bold', 'underline', 'clear']],
			        ['color', ['forecolor', 'backcolor']],
			        ['para', ['ul', 'ol', 'paragraph']],
			        ['table', ['table']],
			        ['insert', ['link', 'picture', 'table', 'hr']],
			        ['view', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]
	        	]
	      	});
	    })
	})

	//画像を８枚まで投稿できるようにする
	$(function() {
	  var fieldsCount,
	      maxFieldsCount = 6,
	      $addLink = $('a.add_nested_fields_link');

	  function toggleAddLink() {
	    $addLink.toggle(fieldsCount <= maxFieldsCount)
	  }

	  $(document).on('fields_adding.nested_form_fields', function() {
	    fieldsCount += 1;
	    toggleAddLink();
	  });

	  $(document).on('fields_removing.nested_form_fields', function() {
	    fieldsCount -= 1;
	    toggleAddLink();
	  });

	  fieldsCount = $('form .fields').length;
	  toggleAddLink();
	})

	//画像プレビュー
	function previewFile(obj) {
		var preview = $(".image_prev")[obj.name[29]];
		var file    = obj.files[0];
		var reader  = new FileReader();

		if (file) {
			reader.readAsDataURL(file);
		}

		reader.addEventListener("load", function () {
	    	preview.src = reader.result;
		}, false);
	}
</script>