<% if flash[:notice] %>
	<div class="alert alert-success alert-dismissible" role="alert">
	 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<%= flash[:notice] %>
	</div>
<% end %>

<div class="row">
	<% if user_signed_in? %>
		<% if @game.user.id == current_user.id %>
			<%= link_to "ゲーム編集", edit_game_path(@game), class:"col-2 offset-8 btn btn-info" %>
		<% end %>
	<% end %>
</div>


<div class="row">
	<div class="col-6">
		<h2><%= @game.title %></h2>
		<h3 class="game-author">作者：<%= link_to @game.user.name, user_path(@game.user) %></h3>

		<div class="row game-evaluation">
			<%= render 'evaluation', game: @game %>
		</div>

		<div class="row">
			<%= link_to "ダウンロードはこちら", download_game_path(@game), class:"download" %>
		</div>
		<div class="row">
			<% @game.tag_list.each do |tag| %>
				<%= link_to search_path(tag: tag), class:"btn btn-primary game-tags ml-1" do %>
					<%= tag %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="col-6 game-sceenshots">
		<h3>スクリーンショット</h3>
		<div class="bxslider">
			<% @game.screenshots.each do |screenshot| %>
				<%= attachment_image_tag screenshot, :image,:fill, 1920, 1080, format: 'jpeg',fallback: "NoImage.jpg", size: "500x281" %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<h3 class="col-3"><u>このゲームについて</u></h3>
</div>

<%=raw @game.introduction %>


<div class="row mt-5">
	<h3 class="col-3"><u>コメント</u></h3>
</div>

<% if user_signed_in? %>
	<%= form_with(model: [@game, @comment], remote: true) do |f| %>
		<div class="row mt-4">
			<div class="col-3">
				<h4>難易度（１００点中）</h4>
				<%= f.number_field :difficulty, class:"form-control value-area" %>
			</div>
			<div class="col-3 offset-1">
				<h4>評価（１０点中）</h4>
				<div class="row">
					<%= f.number_field :rating, class:"form-control value-area" %>
				</div>
			</div>
		</div>

		<div class="row comment-field">
			<div class="col-10">
				<%= f.text_area :comment, rows:'5', class: "form-control comment-area" %>
			</div>
			<div class="col-2" style="margin-top: 80px;">
				<%= f.submit "送信", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
<% end %>

<h3 id="user-comments-count" class="mt-4"><%= @game.comments.count %>件のコメント</h3>
<table id="user-comment" class="table">
	<%= render 'comments/comments', game: @game %>
</table>


<script>
	$(function(){
	  $('.bxslider').bxSlider({
	    auto: true,           // 自動スライド
	    speed: 1000,          // スライドするスピード
	    moveSlides: 1,        // 移動するスライド数
	    pause: 5000,          // 自動スライドの待ち時間
	    maxSlides: 1,         // 一度に表示させる最大数
	    slideWidth: 500,      // 各スライドの幅
		randomStart: false,    // 最初に表示するスライドをランダムに設定
	    autoHover: true       // ホバー時に自動スライドを停止
	  });
	});
</script>


