<% if flash[:notice] %>
	<div class="row flash">
		<%= flash[:notice] %>
	</div>
<% end %>
<% if @comment.errors.any? %>
	<h2><%= @comment.errors.count %>
		 errors prohibited this obj from being saved:
	</h2>
	<ul>
		<% @comment.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<div class="row">
	<h2 class="col-xs-6"><%= @game.title %></h2>
	<% if @game.user.id == current_user.id %>
		<%= link_to "ゲーム編集", edit_game_path(@game), class:"col-xs-2 col-xs-offset-1 btn btn-info", style:"margin-top:20px;" %>
		<%= link_to "スクリーンショット編集", edit_game_screenshots_path(@game), class:"col-xs-2 col-xs-offset-1 btn btn-info", style:"margin-top:20px;" %>
	<% end %>
</div>

<% if @game.screenshots.present? %>
	<div class="bxslider">
		<% @game.screenshots.each do |screenshot| %>
			<%= attachment_image_tag screenshot, :image,:fill, 200, 200, format: 'jpeg' %>
		<% end %>
	</div>
<% else %>
	<%= image_tag 'NoImage.jpg', style:"width: 200px; border: 1px solid #000;", class:"center-block" %>
<% end %>

<h3>説明</h3>
<%= @game.introduction %>

<%= link_to "ダウンロードはこちら", @game.url %>

<% @game.tag_list.each do |tag| %>
	<%= tag %>
<% end %>

<h3>コメントする</h3>
<%= form_with(model: [@game, @comment], remote: true) do |f| %>
	<div class="row">
		<div class="col-xs-2">
			<h3>Difficulty</h3>
			<%= f.number_field :difficulty, class: "form-control" %>
		</div>
		<div class="col-xs-2 col-xs-offset-1">
			<h3>Rating</h3>
			<%= f.number_field :rating, class: "form-control" %>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10">
			<%= f.text_area :comment, rows:'5', class: "form-control" %>
		</div>
		<div class="col-xs-2" style="margin-top: 80px;">
			<%= f.submit "送信", class: "btn btn-primary pull-left" %>
		</div>
	</div>
<% end %>

<table id="js-table-comment" class="table">
	<%= render 'comments/comments', game: @game %>
</table>


<script>
	$(function(){
	  $('.bxslider').bxSlider({
	    auto: true,           // 自動スライド
	    speed: 1000,          // スライドするスピード
	    moveSlides: 1,        // 移動するスライド数
	    pause: 5000,          // 自動スライドの待ち時間
	    maxSlides: 4,         // 一度に表示させる最大数
	    slideWidth: 250,      // 各スライドの幅
		randomStart: false,    // 最初に表示するスライドをランダムに設定
	    autoHover: true       // ホバー時に自動スライドを停止
	  });
	});
</script>


