<% if flash[:danger] %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	 	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  	<strong>エラー！</strong> <%= flash[:danger] %>
	</div>
<% end %>

<h2><u>件名</u></h2>
<h2><%= @contact.title %></h2>

<h3 class="mt-5"><u>ユーザー</u></h3>
<h3><%= link_to @contact.user.name, admins_user_path(@contact.user) %></h3>

<h3 class="mt-5"><u>お問い合わせ内容</u></h3><br>
<div class="contact-content">
	<%=raw @contact.content %>
</div>

<h3 class="mt-5"><u>返信内容</u></h3>
<%= form_for(@contact, url:admins_contact_path(@contact), method: :patch) do |f| %>
	<%= f.text_area :reply_content, data: { provider: 'summernote'} %>
	<%= f.submit "返信する", class:"col-4 offset-4 btn btn-primary mt-4", "data-confirm" => "返信しますか？" %>
<% end %>

<script>
	//Summernoteの設定
	$(function () {
	    $('[data-provider="summernote"]').each(function(){
	    	$(this).summernote({
	    		lang: 'ja-JP',
	        	height: 400,
	        	toolbar: [
	        		['fontsize', ['fontsize']],
			        ['font', ['bold', 'underline', 'clear']],
			        ['insert', ['link', 'picture']],
			        ['view', ['undo', 'redo', 'fullscreen', 'codeview', 'help']]
	        	]
	      	});
	    })
	})
</script>


