<div class="row">
  <h2 class="col-xs-10 col-xs-offset-1">管理者ログイン</h2>
</div>

  <div class="row" style="margin-top: 20px;">
    <div class="col-xs-8 col-xs-offset-2">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "60" %>
        </div>

        <div class="field" style= "margin-top: 40px;">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", size: "60" %>
        </div>

        <div class="row actions" style= "margin-top: 40px;">
          <%= f.submit "Log in", class:"col-xs-2 btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


