<% if flash[:notice] %>
	<div class="row flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<h2>本日投稿されたゲーム</h2>
<div class="row" style= "margin-top: 40px;">
	<% @games.first(4).each do |game| %>
		<div class="col-3">
			<%= link_to admins_game_path(game) do %>
				<% screenshot = game.screenshots.find_by(game_id: game.id) %>
		 		<%= attachment_image_tag screenshot, :image,:fill, 200, 200, format: 'jpeg', fallback: 'NoImage.jpg', size:"200x200" %>
		 		<br><%= game.title %>
		 	<% end %>
		 </div>
	<% end %>
</div>
<%= link_to "もっと見る", admins_games_path(place: "top"), class:"float-right" %>

<div class="row admin-top-boxes">
	<%= link_to admins_users_path, class:"col-3 admin-top-box1" do %>
		<i class="fas fa-users"></i><span>ユーザー一覧</span>
	<% end %>

	<%= link_to admins_games_path, class:"col-3 offset-1 admin-top-box2" do %>
		<i class="fas fa-gamepad"></i><span>ゲーム一覧</span>
	<% end %>

	<%= link_to admins_chats_path, class:"col-3 offset-1 admin-top-box3" do %>
		<i class="fas fa-comments"></i><span>チャットルーム一覧</span>
	<% end %>
</div>