<!DOCTYPE html>
<html>
  <head>
    <title>Suave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: skyblue;height: 160px;">
      <%= link_to root_path do %>
        <%= image_tag 'suave.png', class:"nav navbar-nav navbar-left", size: '140x140' %>
      <% end %>

      <nav>
        <ul class="nav pull-right nav-pills">
          <% if user_signed_in? && request.fullpath.index("/admins/") == nil %>
            <%= render 'users/header' %>
            <%= form_with url:search_path, method: :get, local: true do |f| %>
              <%= f.text_field :search %>
              <%= f.select :category, [["ユーザー", "user"], ["ゲーム", "game"]] %>
              <%= f.select :search_method, [["完全一致", "perfect_match"], ["部分一致", "partial_match"]] %>
              <%= f.submit "検索", class:"btn btn-default" %>
          <% end %>
          <% elsif admin_signed_in? && request.fullpath.index("/admins/") %>
            <%= render 'admins/header' %>
            <%= form_with url:admins_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :search %>
              <%= f.select :category, [["ユーザー", "user"], ["ゲーム", "game"]] %>
              <%= f.select :search_method, [["完全一致", "perfect_match"], ["部分一致", "partial_match"]] %>
              <%= f.submit "検索", class:"btn btn-default" %>
          <% end %>
          <% else %>
            <li><%= link_to "ゲーム一覧" %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
          <li><%= link_to "管理者はこちら", new_admin_session_path %></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
