<!DOCTYPE html>
<html>
  <head>
    <title>Suave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e298a88adc.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">

        <% if admin_signed_in? && request.fullpath.index("/admins/") %>
          <%= link_to admins_top_path do %>
            <%= image_tag 'logo.png', size: '120x120' %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag 'logo.png', size: '120x120' %>
          <% end %>
        <% end %>

        <div class="search">
          <% if admin_signed_in? && request.fullpath.index("/admins/") %>
            <%= form_with url:admins_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :search, size: "30", placeholder: "ゲームかユーザー名で検索" %>
              <%= f.select :category, [["ユーザー", "user"], ["ゲーム", "game"]], class:"form-control" %>
              <%= f.submit "検索", class:"page-link text-dark d-inline-block" %>
            <% end %>
          <% else %>
            <%= form_with url:search_path, method: :get, local: true do |f| %>
              <%= f.text_field :search, size: "30", placeholder: "ゲームかユーザー名で検索" %>
              <%= f.select :category, [["ユーザー", "user"], ["ゲーム", "game"]], class:"form-control" %>
              <%= f.submit "検索", class:"page-link text-dark d-inline-block" %>
            <% end %>
          <% end %>
        </div>

        <% if user_signed_in? && request.fullpath.index("/admins/") == nil %>
          <div class="float-right">
            <p class="header-user-name">ようこそ、<strong><%= current_user.name %></strong>さん
              <% if unchecked_notifications.any?%>
                <% notifications_count = current_user.passive_notifications.where(checked: false).count %>
                <i class="fas fa-bell blink" id="notifications-show">
                  <span class="header-notifications-count"><%= notifications_count %></span>
                </i>
              <% else %>
                <i class="fas fa-bell" id="notifications-show"></i>
              <% end %>
            </p>
          </div>
        <% end %>


      <nav class="navbar navbar-expand-md navbar-fixed-top">
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar mx-auto">
            <% if user_signed_in? && request.fullpath.index("/admins/") == nil %>
              <%= render 'users/header' %>
            <% elsif admin_signed_in? && request.fullpath.index("/admins/") %>
              <%= render 'admins/header' %>
            <% else %>
              <%= link_to "Suaveとは", homes_about_path, class:"nav-item nav-link" %>
              <%= link_to "ゲーム一覧", games_path, class:"nav-item nav-link" %>
              <%= link_to "新規登録", new_user_registration_path, class:"nav-item nav-link" %>
              <%= link_to "ログイン", new_user_session_path, class:"nav-item nav-link" %>
              <%= link_to "管理者はこちら", new_admin_session_path, class:"nav-item nav-link" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <!-- サイドバー -->
    <% if user_signed_in? && request.fullpath.index("/admins/") == nil %>
      <div id="notifications-cover"></div>
      <div id="notifications-menu">
        <i class="fas fa-times float-right" id="notifications-hide"></i>
        <%= render 'notifications/index' %>
      </div>
    <% end %>

    <% if !request.fullpath.index("/admins/") %>
      <div class="main-visual"></div>
    <% end %>


    <div class="container">
      <%= yield %>
    </div>


    <footer>
      <p class="float-right">©Infratop.Inc.</p>
    </footer>
  </body>
</html>
