<%= render "devise/shared/error_messages", resource: resource %>

<div class="row">
  <h1 class="offset-1">新規登録</h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="row">
    <div class="col-4">
      <div class="row field">
        <div class="offset-3">
          <%= f.label :name, "ユーザー名" %>（<span class="required">※必須</span>）(2文字以上、20文字以下)<br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "60" %>
        </div>
      </div>

      <div class="row field">
        <div class="offset-3">
          <%= f.label :introduction, "ひとこと" %><br />
          <%= f.text_area :introduction, size: "60x4" %>
        </div>
      </div>

      <div class="row field">
        <div class="offset-3">
          <%= f.label :email, "メールアドレス" %>（<span class="required">※必須</span>）<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "60" %>
        </div>
      </div>

      <div class="row field">
        <div class="offset-3">
        <%= f.label :password, "パスワード" %>（<span class="required">※必須</span>）
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", size: "60" %>
        </div>
      </div>

      <div class="row field">
        <div class="offset-3">
          <%= f.label :password_confirmation, "パスワード再入力" %>（<span class="required">※必須</span>）<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", size: "60" %>
        </div>
      </div>
    </div>

    <div class="col-4 offset-4 field">
      <%= f.label :image, "トップ画像" %><br />
      <%= image_tag "NoImage.jpg", alt:"Image preview", class: "image_prev", size: "200x200" %>
      <%= f.label :image, "画像を変更", class: "btn btn-info offset-2 mt-2" %>
      <%= f.attachment_field :image, style:"display: none;", class: "image" %>
    </div>
  </div>

  <div class="row actions">
    <%= f.submit "登録する", class:"col-4 offset-4 btn btn-primary", style:"margin-top:40px;" %>
  </div>
<% end %>

<script>
  $(".image").change(function(e) {
    //ファイルオブジェクトを取得する
      var file = e.target.files[0];
      var reader = new FileReader();

    if (file) {
      reader.readAsDataURL(file);
    }

    //アップロードした画像を設定する
      reader.onload = (function(file){
        return function(e){
          $(".image_prev").attr("src", e.target.result);
          $(".image_prev").attr("title", file.name);
        };
      })(file);
      reader.readAsDataURL(file);
  });

</script>